/* Le css des 2 timelines*/
.container-timeline {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    background: white;
}

/* The actual timeline-one (the vertical ruler) */
.timeline-one {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
}

/* The actual timeline-one (the vertical ruler) */
.timeline-one::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: black;
  top: 10px;
  bottom: 5px;
  left: 50%;
  margin-left: -1px;
}

/* The circles on the timeline-one */
.container-timeline-one::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  right: -10px;
  background-color: #FF9F55; /*white;*/
  border: 10px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 2px 8px white;
}


/* The circles on the timeline-one */
.one-timeline-one::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  background-color: #FF9F55; /*white;*/
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 2px 8px white;
}

/* Place the container to the left */
.left-timeline-one {
  left: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 0px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-bottom: 20px;
  text-align: right;
}

/* Place the container to the right */
.right-timeline-one {
  left: 50%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 20px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-bottom: 20px;
  text-align: left;
}

.container-timeline > nav {
    padding: 0px 0px;
    margin: 7px 0px;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

/* The actual content left */
.left-timeline-one .content-timeline-one {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;

  border-left: 10px solid #FF9F55;

  background-color: #f7f9ff;
  position: relative;
  font-size: 1.3em;
  font-weight: 700;
  /*border-radius: 6px;*/
}

/* The actual content right */
.content-one-timeline-one {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  font-size: 1.2em;
  /*border-radius: 6px;*/
}


.item-one-timeline-one {
  border-radius: 90px ;
  background: #FF9F55; 
  width: fit-content; 
  padding: 5px;
  margin-left: auto; 
  color: white;
  font-size: 1.4em;
  font-weight: bold;
}

/* The actual content right */
.right-timeline-one .content-timeline-one {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;

  border-right: 10px solid #FF9F55;

  background-color: #f7f9ff;
  position: relative;
  font-size: 1.3em;
  font-weight: 700;
  /*border-radius: 6px;*/
}

/* Add arrows to the left container (pointing right) */
.left-timeline-one::before {
  /*content: " ";*/
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-timeline-one::before {
  /*content: " ";*/
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-timeline-one::after {
  left: -10px;
}

.one-right-timeline-one::after {
  left: -10px;
}

/* Media queries - Responsive timeline-one on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline-one::after {
    left: 50%;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  /*.container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }*/

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* Le second timeline */

.container-timeline {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
}

/* The actual timeline-two (the vertical ruler) */
.timeline-two {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
}

/* The actual timeline-two (the vertical ruler) */
.timeline-two::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: black;
  top: 10px;
  bottom: -40px;
  left: 50%;
  margin-left: 2.5px;
}

/* The circles on the timeline-two */
.container-timeline-two::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -14px;
  background-color: #377fa9; /*white;*/
  border: 4px solid #377fa9;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 2px 8px white;
}


/* The circles on the timeline-two */
.one-timeline-two::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #377fa9; /*white;*/
  border: 4px solid #377fa9;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 2px 8px white;
}

/* Place the container to the left */
.left-timeline-two {
  left: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  padding-left: 0px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-bottom: 20px;
  text-align: right;
}

/* Place the container to the right */
.right-timeline-two {
  left: 50%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 20px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-bottom: 20px;
  text-align: left;
}

.container-timeline > nav {
    padding: 0px 0px;
    margin: 7px 0px;
}

/* The actual content left */
.left-timeline-two .content-timeline-two {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;

  border-left: 10px solid #6ea2c1;

  background-color: #f7f9ff;
  position: relative;
  font-size: 1.3em;
  font-weight: 700;
  /*border-radius: 6px;*/
}

/* The actual content right */
.right-timeline-two .content-timeline-two {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 5px;

  border-right: 10px solid #6ea2c1;

  background-color: #f7f9ff;
  position: relative;
  font-size: 1.3em;
  font-weight: 700;
  /*border-radius: 6px;*/
}

/* The actual content right */
.content-one-timeline-two {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
  padding-left: 10px;
  position: relative;
  margin-left: 10px;
  font-size: 1.2em;

  /*border-radius: 6px;*/
}

.item-one-timeline-two {
  border-radius: 90px;
  background: #377fa9; 
  width: 100px; 
  padding: 5px;
  color: white;
  text-align: center;
  align-content: flex-start;
  font-size: 1.4em;
  font-weight: bold;
}
}

/* Add arrows to the left container (pointing right) */
.left-timeline-two::before {
  /*content: " ";*/
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right-timeline-two::before {
  /*content: " ";*/
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-timeline-two::after {
  left: -5px;
}

.one-timeline-two::after {
  left: -10px;
}

/* Media queries - Responsive timeline-two on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline-two::after {
    left: 50%;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  /*.container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }*/

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left twos */
  .right {
    left: 0%;
  }
}
